/*****************************************
GENERAL
******************************************/
ul {
  text-decoration: none;
  display: inline-block;
  list-style: none;
}
li {
  display: inline-block;
}

body {
  padding:5px
}
img {
  opacity: 0.5;
}
img:hover {
  opacity: 1.0;
}
/*****************************************
NAVIGATION
******************************************/
 nav {
   width:99%;
   height:14%;
   margin: 0px auto;
   padding 2px auto;
 }
ul.navigation {
   display: inline-block;
   width:95%;
   margin-top:0;
   height:60%;
 }

.navigation > li {
   display: inline-block;
   vertical-align: top;
   margin:0 auto;
   padding:0;
   width:49%;
   text-align: center;
   height:95%;
   color:#fff;
 }

/*****************************************
HEADER
******************************************/



header {
  width: 100%;
  height:500px;
  display: inline-block;
  margin:0 auto;
  background-image:url(images/bighead.jpg);
  background-size:100%;
  background-repeat:no-repeat;
}


.title {
  text-align: center;
  padding:10% 0;
  color:#fff;
}

h1 {
  font-size: 40px;
}

h4 {
  font-size: 24px;
}



/*****************************************
SECTION
******************************************/

section{
  width: 100%;
  display: inline-block;
  border-bottom: 1px lightgrey solid;
  margin-bottom: 5px;
  padding-bottom: 2px;
}
section > div {
  display: inline-block;
  height:99%;
  vertical-align: top;
}

div.main {
  margin-left: 10%;
  width:50%;
  margin-right: 5%
}
div.sub {
  margin-right: 10%;
  width:20%;
  height:100%;
  margin-left: 4%
}
li.extrapad {
  display:block;
}

li#leftliborder {
  border-left: 1px grey solid;
  padding-left: 40px;
  margin-left: 10px;
}
nav#mainnav {
  height:auto;
  width: auto;
  border:none;
}
#mainnav ul {
  display:inline-block;
}
#mainnav ul li {
  display: inline-block;
  margin-right: 5px;
  padding:1px 2px;

}

#circleimage {
  border-radius: 100%;
  width: 30%;
  position: relative;
  left: 35%;
}
}
ul.subleftborder {
  display: inline-block;
  margin:0 auto;
  padding:0;


}
.subleftborder li {
  margin:0 auto;
  display:inline-block;
  border-left:1px lightgray solid;
  vertical-align: top;
  padding-left:3px;
  text-align: center;
}


img#surferpic {
  width:100%;
}

.sub ul {
  padding:0;
}
div#about {
  width:100%;
  margin:0
}

#about a {
  width:100%;
  text-align: right;
  float:right;

}

li.extrapad {
  padding:25px 0;
}


/*****************************************
redonebottom
******************************************/

#bottom {
  width:100%;
  margin:0;
  padding:0;
}

#bottom > h1 {
  text-align: center;
}

div.imagesbot {
  width:100%;
  margin:0;
  padding:0;
}

.indiv {
  width: 24.8%;
  margin-bottom: -5px;
  vertical-align: top;
  display: inline-block;
  margin-left: -5px;
  background-color: blue;
  overflow: hidden;
  position: relative;
  font-size:0;
}

.indiv:hover span {
  color:lightblue;
}

.indiv > img {
  width:100%;
}
.indiv > span {
  position: absolute;
  color: #FBFBFD;
  width: 100%;
  bottom: 2%;
  font-size: 2rem;
  text-align: left;
  z-index: +1;
}
.imagesbot div:nth-child(1) {
  margin-left:0;

}





/*****************************************
FOOTER
******************************************/

nav.footerlinks {
  width:100%;
  background-color: navy;
}
.footerlinks ul {
  width:98%;
  margin-top:1%;
  margin-bottom: 1%;
  display:inline-block;

}
.footerlinks > ul > li {
  width: 48%;
  text-align: center;

}
ul.deeperfoot {
  display:inline-block;
  width:98%;
}

.deeperfoot > li {
  display:inline-block;
  width:20%;
  border-left:1px black solid;
  padding-left:3px;
  text-align: center;
}
